{{ 'lookbook.css' | asset_url | stylesheet_tag }}
{{ 'lookbook.js' | asset_url | script_tag }}

<section class="lookbook center">

    <h2 class="inline-richtext h1 scroll-trigger animate--slide-in">{{ section.settings.lookbook_title }}</h2>
    <p>{{ section.settings.lookbook_desc }}</p>

    <div class="lookbook_products-container">
        {% for item in section.settings.lookbook_products %}
            {% include 'lookbook-product-display' %}
        {% endfor %}
    </div>
</section>

{%  schema %}
    {
        "name": "Lookbook",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "text",
                "id": "lookbook_title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "lookbook_desc",
                "label": "Description"
            },
            {
                "type": "product_list",
                "id": "lookbook_products",
                "label": "Select Lookbook"
            }
        ],
        "presets": [
            {
            "name": "Lookbook",
            "category": "Collections"
            }
        ]
    }
{% endschema %}